<p>{{'Petición de usuario con ajax' | uppercase }}</p>
<!-- {{fecha | date:'fullDate' }} <hr> -->
{{fecha | date:'dd/MM/yy' }} <hr>
<p>Pipe de calculadora {{ 4 | calculadora:2}}</p> <hr>

<label for="">Introduce número del usuario </label>
<div *ngIf="!user">
    <h2>Cargando ... </h2>
</div>


<input type="text" [(ngModel)]="userId" (keyup.enter)="cargarUsuario()">
<div *ngIf="user">
    <img src="{{user.avatar}}" alt="foto" width="200">
    <h2>{{ user.first_name + " " + user.last_name}}</h2>
</div>
<hr>

<h2>Crear usuario</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
        <label for="name">Nombre: </label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required>
        <span *ngIf="name.touched && !name.valid" >
            El nombre no es valido
        </span>
    <p>
        <label for="job">Trabajo: </label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>
        <span *ngIf="job.touched && !job.valid" >
            El trabajo no es valido
        </span>
    </p>

    <input type="submit" value="Guardar Usuario" [disabled]="!newUser.form.valid">

</form>

<div *ngIf="usuario_guardado">
    <h3>Nombre: {{usuario_guardado.name}}</h3>
    <h3> Trabajo: {{usuario_guardado.job}}</h3>
</div>